html,
*{
    font-family: Montserrat;
    font-style: normal;
    color: #000000;
    font-weight: 450;

}


body {
    overflow: hidden;
}

/*Contenedor del body*/
.contenedor {
    display: flex;
    flex-direction: row;
}

/* Div del menú retraido */
.menu-pequenyo-administrativo {
    /*Color*/
    background: #90242A;

    width: 6vh;
    height: 100vh;
    position: relative;
    z-index: 2;
}

.menu-grande-administrativo {
    background: #AF272F;

    width: 18vh;
    height: 100vh;

    transition: transform 0.9s ease, opacity 0.9s ease;
    opacity: 1;
    transform: translateX(0);
    /* El contenido inicia visible */
    position: relative;
    z-index: 1;
    /* Inicialmente debajo del menú */
}

/* Estilo para ocultar el contenido detrás del menú */
.menu-grande-administrativo.hidden {
    opacity: 0;
    transform: translateX(-200px);
    /* Mueve el contenido hacia la izquierda */
    z-index: -1;
    /* Mueve el contenido detrás del menú */
}

.iconos-menu-administrativo {
    margin-top: 10vh;
}

.iconosM {
    margin-bottom: 4.5vh;

    cursor: pointer;
}

.logo-grande-administrativo {
    margin-bottom: 9.1vh;
}

.imagen-usuario-administrativo {
    margin-left: 0.6vh;
    margin-top: 4vh;
}

.icono-logout-administrativo {
    margin-top: 7vh;
    margin-left: 1.2vh;

    cursor: pointer;
}

/*Botones menu grande*/
.boton-menu-sel-administrativo {
    text-decoration: none;

    padding-right: 8.4vh;
    padding-left: 2vh;
    padding-top: 1.4vh;
    padding-bottom: 1.4vh;

    margin-bottom: 1.2vh;

    color: #FFFFFF;
    background: #90242A;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    box-shadow: 5px 5px 4px 0px rgba(144, 36, 42, 0.25);

    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    cursor: pointer;

}

.boton-menu-noSel-administrativo {
    text-decoration: none;

    padding-right: 8.4vh;
    padding-left: 2vh;
    padding-top: 1.4vh;
    padding-bottom: 1.4vh;

    margin-bottom: 1.2vh;

    color: #FFFFFF;
    border: 1px solid #AF272F;
    background: #AF272F;

    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.boton-menu-noSel-administrativo:hover {
    transition: 0.3s ease;

    background-color: #90242a;
    border: 1px solid rgba(0, 0, 0, 0.20);

    cursor: pointer;
}

.div-menu-grande-administrativo {
    display: flex;
    flex-direction: column;
}


.usuario-nombre-administrativo {
    color: #ffffff;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info-usuario-administrativo {
    color: #ffffff;

    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.caja-info-usuario-admin-logout {
    margin-top: 3.4vh;
}

.boton-logout-administrativo {
    margin-top: -3vh;
}

/*Estilos contenedor principal*/
/* .contenedor-principal-administrativo {

} */
.contenedor-breadcrump-administrativo {
    border-bottom: 2px solid rgba(175, 39, 47, 0.50);

    box-shadow: 3px 4px 4px 0px rgba(175, 39, 47, 0.25);

    width: 1900px;
    height: 150px;
}

.estilo-breadcrump-administrativo {
    color: #90242A;

    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.maquetacion-breadcrump-administrativo {
    padding-top: 8vh;
    padding-left: 3vh;
}

/*Navegación unica entre los 3 tipos de usuario*/
.navegacion-diferentes-usuarios {
    height: 10vh;
    width: 100vh;
    padding-top: 6vh;
    padding-left: 10vh;
}

.botones-navegacion-usuarios {
    color: #90242A;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    padding-left: 7vh;
    cursor: pointer;
}


.linea-roja-cVIP {
    display: block;

    width: 120px;
    height: 2px;

    background: #90242A;
    box-shadow: 0px 4px 3px 0px rgba(144, 36, 42, 0.25);
}

.linea-roja-comerciales {
    display: none;

    width: 120px;
    height: 2px;

    background: #90242A;
    box-shadow: 0px 4px 3px 0px rgba(144, 36, 42, 0.25);
}

.linea-roja-cli {
    display: none;

    width: 120px;
    height: 2px;

    background: #90242A;
    box-shadow: 0px 4px 3px 0px rgba(144, 36, 42, 0.25);
}

.linea-roja-administrativos {
    display: block;

    width: 145px;
    height: 2px;

    background: #90242A;
    box-shadow: 0px 4px 3px 0px rgba(144, 36, 42, 0.25);
}

.linea-blanca {
    display: inline-block;

    width: 120px;
    height: 2px;

    background: #ffffff;
}

.linea-blanca-grande {
    display: inline-block;

    width: 145px;
    height: 2px;

    background: #ffffff;
}

.boton-logout-administrativo {
    text-decoration: none;

    padding-right: 1.2vh;
    padding-left: 2vh;
    padding-top: 1.4vh;
    padding-bottom: 1.4vh;

    color: #FFFFFF;
    border: 1px solid #AF272F;
    background: #AF272F;

    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.boton-logout-administrativo:hover {
    transition: 0.3s ease;

    background-color: #90242a;
    border: 1px solid rgba(0, 0, 0, 0.20);

    cursor: pointer;
}

.caja-info-usuario-administrativo {
    margin-bottom: 6vh;
}

/* Modal */
/*Efecto fondo opacidad gris*/

/*Caja de la confirmación*/
.cajaConfi {
    border-radius: 12px;
    height: 306px;
    /*Color*/
    border: 1px solid #AF272F;
    background: #FFFFFF;
    box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25);
}

.cajaTxt {
    height: 218px;
    border: 1px solid #4f7d4d00;
}

/*Pregunta de la confirmación*/
.cabeceraConfi {
    /*Color*/
    color: #90242A;
    /*Tipografía*/
    font-family: Montserrat;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
}

/*Explicación de los efectos de la confirmación*/
.infoConfi {
    /*Color*/
    color: rgba(0, 0, 0, 0.70);
    /*Maquetación*/
    padding: 16px;
    text-align: center;
    /*Tipografía*/
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
}

.btnCaja {
    border-color: 1px solid rgb(0, 4, 255);
    margin-left: -1px;
}

/*Botón de cancelar (ruta alternativa)*/
.cancelConfi {
    border-radius: 0px 0px 0px 10px;
    height: 70px;
    /*Color*/
    color: #000000;
    border: 1px solid #AF272F;
    background: #FFFFFF;
    /*Tipografía*/
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    /*Cursor*/
    cursor: pointer;
}

/*Botón de confirmar (ruta principal)*/
.confirmConfi {
    height: 70px;
    border-radius: 0px 0px 10px 0px;
    /*Color*/
    color: #FFFFFF;
    border: 1px solid #AF272F;
    background: #AF272F;
    /*Tipografía*/
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    /*Cursor*/
    cursor: pointer;
}

/*Hovers de los botones*/

.confirmConfi:hover {
    /*Cursor*/
    cursor: pointer;
    /*Color*/
    background-color: #CF333C;
    transition: 0.4s ease;
}

/*Lógica de eliminar, mostramos input*/
.inputElm.block {
    display: block;
}

/* Botones Crud estilos */

.botonCrud{
    /* Botón */
    width: auto;
    padding: 12px;
    margin-top: 13px;
    height: 15px;
    border-radius: 16px;
    border: 3px solid #AF272F;
    background: #AF272F;
    /* Texto del botón */
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: var(--sizes-xl, 16px);
    display: flex;
    justify-content: center;
    /* Alinea el contenido horizontalmente */
    align-items: center;
    /* Alinea el contenido verticalmente */
    gap: 5px;
}

.botonEliminar {
    /* Botón */
    width: auto;
    height: 32px;
    margin: 20px;
    padding: 20px;
    border-radius: 16px;
    border: 3px solid #AF272F;
    background: #AF272F;
    /* Texto del botón */
    color: #ffffff;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: var(--sizes-xl, 16px);
    display: flex;
    justify-content: center;
    /* Alinea el contenido horizontalmente */
    align-items: center;
    /* Alinea el contenido verticalmente */
    gap: 8px;
    transition: background-color 0.5s ease, border-color 0.5s ease;
}

.botonSecundario{
    width: auto;
    height: 32px;
    margin: 20px;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid #AF272F;
    background: #ffffff;
    /* Texto del botón */
    color: #af272f;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: var(--sizes-xl, 16px);
    display: flex;
    justify-content: center;
    /* Alinea el contenido horizontalmente */
    align-items: center;
    /* Alinea el contenido verticalmente */
    gap: 8px;
    transition: background-color 0.5s ease, border-color 0.5s ease;
}

.botonEliminar:hover {
    /* Botón */
    transition: 2s ease;
    background-color: #782429;

    border: 3px solid #782429;
    cursor: pointer;
}
/* Estilos Modales Modificar */
.cajaModalModificar {
    border-radius: 12px;
    height: 770px;
    width: 800px;
    /*Color*/
    border: 1px solid #AF272F;
    background: #FFFFFF;
    box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25);
}

.cabeceraModalModificar {
    margin-top: 7vh;
    margin-left: 7vh;
    margin-right: 7vh;
}

.estilosTituloModalModificar {
    color: #90242A;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}

.seccionesModalModificar {
    color: #90242A;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;

    margin-bottom: 2vh;
}

/* Inputs formularios */
.tamanyoInputPequenyoModales {
    width: 120px !important;

    border-radius: 12px !important;
    border: 1px solid #AF272F !important;
    background: var(--colors-background, #FFFFFF) !important;

    color: #000000 !important;
    font-family: Montserrat !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: 500 !important;

}

.tamanyoInputMedioModales {
    width: 185px !important;

    border-radius: 12px !important;
    border: 1px solid #AF272F !important;
    background: var(--colors-background, #FFFFFF) !important;

    color: #000000 !important;
    font-family: Montserrat !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: 500 !important;

}

.tamanyoInputMedioGrandeModales {
    width: 220px !important;

    border-radius: 12px !important;
    border: 1px solid #AF272F !important;
    background: var(--colors-background, #FFFFFF) !important;

    color: #000000 !important;
    font-family: Montserrat !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: 500 !important;

}

.tamanyoInputGrandeModales {
    width: 320px !important;

    border-radius: 12px !important;
    border: 1px solid #AF272F !important;
    background: var(--colors-background, #FFFFFF) !important;

    color: #000000 !important;
    font-family: Montserrat !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: 500 !important;
}

.cajaSeccionesModalMod {
    margin-left: 7vh;
    margin-top: 3vh;
}

.labelsModal {
    padding-left: 8px;
    color: #AF272F;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
}

.checkboxEstilos:checked {
    background-color: #90242A;
}

.margen-boton-guardar {
    margin-left: 31vh;
}

.margen-boton-anyadir {
    margin-left: 26vh;
}

.margen-boton-anyadir-cli-vip {
    margin-left: 4vh;
}

.margen-boton-modificar {
    margin-left: 10vh;
}

.margen-boton-guardar-comercial {
    margin-left: 50vh;
}

.cajaModalModificarComercial {
    border-radius: 12px;
    height: 815px;
    width: 800px;
    /*Color*/
    border: 1px solid #AF272F;
    background: #FFFFFF;
    box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25);
}

.botonAnyadirComercial {
    /* Botón */
    width: auto;
    height: 50px;
    margin: 30px;
    padding: 20px;
    border-radius: 16px;
    border: 3px solid #AF272F;
    background: #AF272F;
    /* Texto del botón */
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: var(--sizes-xl, 16px);
    display: flex;
    justify-content: center;
    /* Alinea el contenido horizontalmente */
    align-items: center;
    /* Alinea el contenido verticalmente */
    gap: 10px;
    transition: background-color 0.5s ease, border-color 0.5s ease;
}

.botonAnyadirComercial:hover {
    /* Botón */
    transition: 2s ease;
    background-color: #782429;

    border: 3px solid #782429;
    cursor: pointer;
}

.margen-boton-anyadir-comercial {
    margin-left: 44vh;
}

.margen-boton-anyadir-administrativo {
    margin-left: 38vh;
}

.hoverX {
    cursor: pointer;
}

.blur-effect {
    backdrop-filter: blur(10px);
}

.contenedor-datatable-clientes-admin {
    width: 1300px;
    margin-left: 100px;
    margin-top: -25px;
}

.tabla-bordes-superior {
    border-radius: 12px 12px 0px 0px;
}

.tipografia-cabecera-tabla-administrativo {

    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;

}

.tipografia-contenido-tabla-administrativo {

    color: #000000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 450;
    text-align: center;
}

.tipografia-contenido-tabla-administrativo:hover {

    color: #AF272F;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 450;
}

.tipografia-placeholder-buscar-administrativo{

    font-family: Montserrat;

}

.headerTabla {
    background-color: #CF333C;
    color: white;
    font-weight: 700;
}

.bordes{
    border-bottom: 1px solid #AF272F;
    border-left:  1px solid #AF272F;
}

.bordeRolser{
    border: 1px solid #AF272F;
}

.borde-focus:focus{
    border: 1px solid #cf333c;
}

.paginacion-custom nav {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.paginacion-custom .pagination {
    display: flex;
    gap: 0.5rem;
}

.paginacion-custom .pagination a,
.paginacion-custom .pagination span {
    background-color: white;
    color: #AF272F;
    border: 1px solid #AF272F;
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
}

.paginacion-custom .pagination a:hover {
    background-color: #AF272F;
    color: white;
}

.paginacion-custom .pagination .active {
    background-color: #AF272F;
    color: white;
    border-color: #AF272F;
}

.paginacion-custom .pagination .disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.contenedorTablas{
    margin-left: 100px;
}

.color-cabecera-tabla-admin{
    background-color: #CF333C;
    border: 1px solid #AF272F;
}

th{
    color:#ffffff;
    font-size: 15px ;
    font-weight: 600;
}
