/*Contenedor del body*/


.contenedor {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}


/* Div del menú retraido */
.menu-pequenyo-comercial {
    background: #90242a;
    width: 6vh;
    height: 100vh;
    position: relative;
    z-index: 2;
}

.menu-grande-comercial {
    background: #af272f;

    width: 18vh;
    height: 100vh;

    transition: transform 0.9s ease, opacity 0.9s ease;
    opacity: 1;
    transform: translateX(0);
    /* El contenido inicia visible */
    position: relative;
    z-index: 1;
    /* Inicialmente debajo del menú */
}

/* Estilo para ocultar el contenido detrás del menú */
.menu-grande-comercial.hidden {
    opacity: 0;
    transform: translateX(-200px);
    /* Mueve el contenido hacia la izquierda */
    z-index: -1;
    /* Mueve el contenido detrás del menú */
}

.iconosM {
    margin-bottom: 4.5vh;

    cursor: pointer;
}

.logo-pequenyo-comercial {
    margin-bottom: 5vh;
}

/*Comercial logeado como cliente*/
.icono-cliente-comercial {
    margin-bottom: 8vh;
    margin-left: 0.4vh;
}

.logo-grande-comercial {
    margin-bottom: 5.2vh;
}

/*Maquetacion imagen de perfil*/
.imagen-usuario-comercial {
    margin-left: 0.9vh;
    margin-top: 18vh;
}

.icono-logout-comercial {
    margin-top: 7vh;
    margin-left: 1.2vh;

    cursor: pointer;
}

.boton-comercial-cliente {
    text-decoration: none;

    padding-right: 8.4vh;
    padding-left: 1vh;
    padding-top: 1.4vh;
    padding-bottom: 1.4vh;
    margin-bottom: 6.6vh;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #ffffff;
    background: #90242a;
    box-shadow: 9px 9px 9px 0px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

/*Botones menu grande*/
.boton-menu-sel-comercial {
    text-decoration: none;

    padding-right: 8.4vh;
    padding-left: 2vh;
    padding-top: 1.4vh;
    padding-bottom: 1.4vh;
    margin-bottom: 2vh;
    color: #ffffff;
    background: #90242a;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 4px 0px rgba(144, 36, 42, 0.25);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.boton-menu-noSel-comercial {
    text-decoration: none;
    padding-right: 8.4vh;
    padding-left: 2vh;
    padding-top: 1.4vh;
    padding-bottom: 1.4vh;
    margin-bottom: 2vh;
    color: #ffffff;
    border: 1px solid #af272f;
    background: #af272f;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.boton-menu-noSel-comercial:hover {
    transition: 0.3s ease;

    background-color: #90242a;
    border: 1px solid rgba(0, 0, 0, 0.2);

    cursor: pointer;
}

.div-menu-grande-comercial {
    display: flex;
    flex-direction: column;
}

.usuario-nombre-comercial {
    color: #ffffff;

    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info-usuario-comercial {
    color: #ffffff;

    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.caja-info-usuario-comercial-logout {
    margin-top: 17vh;
}

/*Estilos contenedor principal*/
/* .contenedor-principal-administrativo {

} */
.contenedor-breadcrump-comercial {
    border-bottom: 2px solid rgba(175, 39, 47, 0.5);

    box-shadow: 3px 4px 4px 0px rgba(175, 39, 47, 0.25);

    width: 1300px;
    height: 80px;
}

.estilo-breadcrump-comercial {
    color: #90242a;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.maquetacion-breadcrump-comercial {
    padding-top: 4vh;
    padding-left: 3vh;
}

.boton-logout-comercial {
    text-decoration: none;

    padding-right: 1vh;
    padding-left: 2vh;

    padding-bottom: 1.4vh;

    color: #FFFFFF;
    border: 1px solid #AF272F;
    background: #AF272F;

    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.boton-logout-comercial:hover {
    transition: 0.3s ease;

    background-color: #90242a;
    border: 1px solid rgba(0, 0, 0, 0.20);

    cursor: pointer;
}
.caja-info-usuario-comercial {
    margin-bottom: 6.4vh;
}

table {
    width: 20vh;
    height: 50px;
}

.linea-roja-cVIP {
    display: block;

    width: 120px;
    height: 2px;

    background: #90242a;
    box-shadow: 0px 4px 3px 0px rgba(144, 36, 42, 0.25);
}

.linea-roja-comerciales {
    display: none;

    width: 120px;
    height: 2px;

    background: #90242a;
    box-shadow: 0px 4px 3px 0px rgba(144, 36, 42, 0.25);
}

.linea-roja-administrativos {
    display: none;

    width: 145px;
    height: 2px;

    background: #90242a;
    box-shadow: 0px 4px 3px 0px rgba(144, 36, 42, 0.25);
}

.linea-blanca {
    display: inline-block;

    width: 120px;
    height: 2px;

    background: #ffffff;
}

.linea-blanca-grande {
    display: inline-block;

    width: 145px;
    height: 2px;

    background: #ffffff;
}

.headerTabla {
    background-color: #cf333c;
    color: white;
    font-weight: 700;
}

.bordes {
    border-bottom: 1px solid #af272f;
    border-left: 1px solid #af272f;
}

.bordeRolser {
    border: 1px solid #af272f;
}

.borde-focus:focus{
    border: 1px solid #cf333c;
}

.paginacion-custom nav {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.paginacion-custom .pagination {
    display: flex;
    gap: 0.5rem;
}

.paginacion-custom .pagination a,
.paginacion-custom .pagination span {
    background-color: white;
    color: #af272f;
    border: 1px solid #af272f;
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
}

.paginacion-custom .pagination a:hover {
    background-color: #af272f;
    color: white;
}

.paginacion-custom .pagination .active {
    background-color: #af272f;
    color: white;
    border-color: #af272f;
}

.paginacion-custom .pagination .disabled {
    opacity: 0.5;
    cursor: not-allowed;
}



.cambiarTamanyoModalTablet {
    width: 1280px;
    height: 800px;
}

.cajaModalModificarTablet {
    border-radius: 12px;
    height: 680px;
    width: 700px;
    /*Color*/
    border: 1px solid #AF272F;
    background: #FFFFFF;
    box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25);
}

.botonCrud{
    /* Botón */
    width: auto;
    padding: 12px;
    margin-top: 13px;
    height: 15px;
    border-radius: 16px;
    border: 3px solid #AF272F;
    background: #AF272F;
    /* Texto del botón */
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: var(--sizes-xl, 16px);
    display: flex;
    justify-content: center;
    /* Alinea el contenido horizontalmente */
    align-items: center;
    /* Alinea el contenido verticalmente */
    gap: 5px;
}

.botonEliminar {
    /* Botón */
    width: auto;
    height: 32px;
    margin: 20px;
    padding: 20px;
    border-radius: 16px;
    border: 3px solid #AF272F;
    background: #AF272F;
    /* Texto del botón */
    color: #ffffff;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: var(--sizes-xl, 16px);
    display: flex;
    justify-content: center;
    /* Alinea el contenido horizontalmente */
    align-items: center;
    /* Alinea el contenido verticalmente */
    gap: 8px;
    transition: background-color 0.5s ease, border-color 0.5s ease;
}

.botonSecundario{
    width: auto;
    height: 32px;
    margin: 20px;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid #AF272F;
    background: #ffffff;
    /* Texto del botón */
    color: #af272f;
    font-weight: 700;
    line-height: var(--sizes-xl, 16px);
    display: flex;
    justify-content: center;
    /* Alinea el contenido horizontalmente */
    align-items: center;
    /* Alinea el contenido verticalmente */
    gap: 8px;
    transition: background-color 0.5s ease, border-color 0.5s ease;
}

.botonEliminar:hover {
    /* Botón */
    transition: 2s ease;
    background-color: #782429;

    border: 3px solid #782429;
    cursor: pointer;
}

.colorFondoTablas{
    background-color: #cf333c;
}



/* Ocultar el scroll en navegadores que usan scrollbar visible */
::-webkit-scrollbar {
    width: 13px;
    /* Ancho del scrollbar */

}

/* Cambiar el color de fondo del scrollbar*/
::-webkit-scrollbar-track {
    /*  background: #d6d1d1; Color del track (fondo) */
    border-radius: 5px;
    border: 1px solid #90242a;

}

/* Cambiar el color de la barra de desplazamiento) */
::-webkit-scrollbar-thumb {
    background: #AF272F;
    /* Color de la barra */
    border-radius: 5px;
    /* Bordes redondeados */


}

/* Cambiar el color cuando se hace hover  */
::-webkit-scrollbar-thumb:hover {
    background: #AF272F;
}
