* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo del body */
body {
    font-family: 'Montserrat', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Contenedor principal */
.containerP {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 20px;
}

/* Logo */
.logoRolserP {
    margin-top: -10px;
}

/* Estilos del formulario */
.form {
    width: 90%;
    max-width: 375px;
    height: auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #90242A;
    border: 1px solid #AF272F;
    box-shadow: 6px 7px 21px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* Inputs y su contenedor */
.contenedorInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
}

.rectoInput {
    display: flex;
    align-items: center;
}

/* Inputs */
.inputU {
    width: 80%;
    height: 43px;
    border-radius: 5px;
    background: #FFF;
    border: none;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 600;
    margin-left: 5px;
    outline: none;
}

/* Olvidaste tu contraseña */
.mpOlvidada {
    text-decoration: none;
    margin: 10px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 14px;
    font-weight: 600;
}

/* Botón de inicio de sesión */
.inputIS {
    all: unset;
    width: 70%;
    height: 50px;
    border-radius: 5px;
    background: #CF333C;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 20px;
}

.inputIS:hover {
    transition: 0.3s ease;
    background-color: #af272f;
}
/*Efecto del focus para los placeholder*/

@media screen and (max-width: 1199px) {
    .containerP {
        height: auto;
        padding: 40px 20px;
    }

    .form {
        width: 80%;

        padding: 5px;
    }

    .inputU {
        width: 80%;
        margin-left: 5px;
    }

    .inputIS {
        width: 80%;
    }
}

li{
    list-style: none;
    color: white;
    font-size: 18px;
    font-family: Montserrat;
    text-align: center;
}

.recordar{
    color: white;
    font-size: 18px;
    font-family: Montserrat;
    text-align: center;
}





